

.bottomdiv {
  
    position: relative;
    width: 100%;
    height: 100%;

  
   
}

.bottomdiv img{
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}


@media only screen and (max-width: 900px){

.bottomdiv{
    margin-top: 40%;

    

}

}

@media only screen and (max-width: 600px){
    .bottomdiv{
        margin-top: 50%;
    
        
    
    }


}